.bookings {
    margin-top: 1%;
    h1 {
        color: #fafafa;
        margin-bottom: 3%;
    }
    mat-card {
        background: #505050;
        margin: 1%;
    }
    mat-card-content {
        color: white;
        font-size: 15px;
    }
}
