<div class="bookings" fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center start" *ngIf="userBookings">
  <h1 fxFlex="100" fxLayoutAlign="center start">My Bookings</h1>
  <mat-tab-group class="tabs-group">
    <mat-tab label="" fxFlex="100">
      <ng-template matTabContent class="movieList" fxFlex="100">
        <cdk-virtual-scroll-viewport class="virtual-scroll-container" itemSize="200" minBufferPx="600" maxBufferPx="1000"
          fxFlex="100" fxLayoutAlign="center start">
          <div fxFlex="100" fxLayoutAlign="center start">
            <div fxLayout="row wrap" fxFlex="80" *ngIf="userBookings[0]" class="cards-display">
              <div fxFlex.lg="48" fxFlex.gt-lg="48" fxFlex.xs="100" fxFlex.md="100" *ngFor="let booking of userBookings">
                <mat-card fxFlex="100">
                  <mat-card-content fxLayout="row wrap">
                    <div fxFlex="30" fxLayout="row wrap" fxLayoutAlign="start start" class="img-div">
                      <img mat-card-image src="{{ imagesPath }}{{ booking.mposter }}"
                        onerror="this.src='/assets/images/noImage.jpg';" alt="poster image" />
                    </div>
                    <div fxFlex="70" fxLayout="row wrap" fxLayoutAlign="center start">
                      <div fxFlex="100" fxLayoutAlign="center start" fxFlexOffset="1" class="movie-title">
                        <h2>{{booking.mname}}</h2>
                      </div>
                      <div class="details-div" fxFlex="20" fxLayoutAlign="start start" fxFlexOffset="7"><span>Booking
                          Id:</span>
                      </div>
                      <div class="details-div" fxFlex="70" fxLayoutAlign="start start" fxFlexOffset="1">
                        <span>{{booking.bookingId}}</span>
                      </div>
                      <div class="details-div" fxFlex="20" fxLayoutAlign="start start" fxFlexOffset="7"><span>Theatre
                          Name:</span>
                      </div>
                      <div class="details-div" fxFlex="70" fxLayoutAlign="start start" fxFlexOffset="1">
                        <span>{{booking.tname + ', ' + booking.tcity}}</span>
                      </div>
                      <div class="details-div" fxFlex="20" fxLayoutAlign="start start" fxFlexOffset="7"><span>Booking
                          Date:</span>
                      </div>
                      <div class="details-div" fxFlex="70" fxLayoutAlign="start start" fxFlexOffset="1">
                        <span>{{booking.createdDatetime | date}}</span>
                      </div>
                      <div class="details-div" fxFlex="20" fxLayoutAlign="start start" fxFlexOffset="7"><span>Show
                          time:</span>
                      </div>
                      <div class="details-div" fxFlex="70" fxLayoutAlign="start start" fxFlexOffset="1">
                        <span>{{booking.mtime}}</span>
                      </div>
                      <div class="details-div" fxFlex="20" fxLayoutAlign="start start" fxFlexOffset="7"><span>Seat
                          Numbers:</span>
                      </div>
                      <div class="details-div" fxFlex="70" fxLayoutAlign="start start" fxFlexOffset="1">
                        <span>{{booking.seatNum}}</span>
                      </div>
                      <div class="navigate-div" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start">
                        <a href="{{ booking.gLocation }}" target="_" matTooltip="Click To Navigate">
                          <span>Navigate</span>
                          <mat-icon>my_location</mat-icon>
                        </a>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
        <div fxFlex="80" *ngIf="!userBookings[0]">
          <mat-card fxFlex="100">
            <mat-card-content fxLayoutAlign="center start">
              <h3>No Bookings found on your name yet.</h3>
              <p></p>
            </mat-card-content>
          </mat-card>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>