<div fxLayout="row" class="rating" *ngIf="movieDescription && movieDescription.vote_average">
  <div class="rate-disp" *ngFor="let item of [].constructor(roundedValue(rating))"><mat-icon>star_rate</mat-icon></div>
  <div class="rate-disp last" *ngIf="decimalValue(rating)"><mat-icon>star_rate</mat-icon></div>
  <div class="rate-disp grey" *ngFor="let item of [].constructor(5 - ceiledValue(rating))"><mat-icon>star_rate</mat-icon></div>
</div>
<div fxLayout="row" class="rating" *ngIf="!(movieDescription && movieDescription.vote_average)">
  No Rating Available
</div>