<div fxLayout="row" class="rating">
  <!-- <div *ngFor="let star of rating" class="rate-display">
    <mat-icon *ngIf="star">star_rate</mat-icon>
    <mat-icon *ngIf="!star">star_border</mat-icon>
  </div> -->
  <div class="rate-display" *ngFor="let item of [].constructor(roundedValue(rating))"><mat-icon>star_rate</mat-icon></div>
  <div class="rate-display last" *ngIf="decimalValue(rating)"><mat-icon>star_rate</mat-icon></div>
  <div class="rate-display grey" *ngFor="let item of [].constructor(5 - ceiledValue(rating))"><mat-icon>star_rate</mat-icon></div>
</div>