<div class="search-filter-dropdowns" fxLayout="{{layout}}" fxLayoutGap="2%" fxLayoutAlign="center">
  <mat-form-field>
    <mat-label *ngIf="!languageSelected">Language</mat-label>
    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="languageSelector"
      [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayLanguage">
      <mat-option *ngFor="let language of filteredLanguages | async" [value]="language">
        {{language.english_name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <mat-label *ngIf="!genreSelected">Genre</mat-label>
    <mat-select [formControl]="generSelector">
      <mat-option *ngFor="let genre of genresList" value="{{genre.id}}">{{genre.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>