:host /deep/ .mat-select-value {
  color: #fff !important;
}

:host /deep/.mat-form-field-label {
  color: #fff;
}

.mat-select-value {
  color: #fff !important;
}

.accept {
  margin-left: 40%;
  margin-top: 8%;
}
